/* CSS Reset from David Sawyer McFarland's CSS: The Missing Manual, O'Reilly Media  */
 
html, body, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address,
variable, form, fieldset, blockquote {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}
ol {
  margin-left: 1.4em;
  list-style: decimal;
}
ul {
  margin-left: 1.4em;
  list-style:square;
}
img {
  border: 0;
}
 /*END */

 body{
 	overflow: hidden;
 }

#headerDiv{
	background: white;
	clear: both;
	width: 100%;
	height: 120px;
}
#headerBanner{
	background: url(../img/banner%20and%20logo.png) no-repeat center center;
	float:left;
	width: 1024px;
	height: 152px;
	margin: 0 auto;
	position: absolute;
	overflow: visible;
}
#searchBarDiv{
	float: right;
	position: absolute;
}
#searchBar{
	border: none;
	width : 158px;
	background: url(../img/search%20bar.png) no-repeat center center;
	padding: 4px 4px 3px 30px;
}
#logoutText{
	position: absolute;
	float: right;
	color: orange;
	font-size: 1em;
	text-decoration: underline;
}
#backgroundDiv{
	background: url(../img/background.jpg) no-repeat center center;
	position: absolute;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#mainWindow{
	clear: both;
	width: 1000px;
	height: auto;
	position:absolute;
	margin: 0 auto;	
	padding: 30px 0px;

}
#mainWindowToolbar{
	margin-top: 18px;
	width:40px;
	position: absolute;
	left: 0px;
	overflow: visible;
}
#menuBarBackImg{
	height: 263px;
}
#profileBox{
	width: 173px;
	height: 294px;
	position: absolute;
	padding: 40px 40px 20px 20px;
	background-image: url(../img/profile%20box/profile%20box%20USE%20THIS%20ONE.png);
	background-repeat: no-repeat;
}
#profileNameDiv{
	height: 40px;
	position: absolute;
	overflow: visible;
	clear: both;
	font-size: 12px;
}
#mainInnerWindow{
	width: 449px;
	height: 499px;
	position: absolute;
	background-image:url(../img/honey%20jar/honey%20jar%20box%20USE%20THIS%20ONE.png);
	background-repeat: no-repeat;
	padding: 40px 40px 20px 20px;
	overflow: none;
}
#profileImage{
	position: absolute;
	float: left;
	width: 72px;
	height: 83px;
}
#messageIcon{
	background-image: url(../img/messaging/buzzbox_message_symbol.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 51px;
	height: 45px;
	float: right;
	border-radius: 2em 0em 0em 2em;
	z-index: 100;
}
#messageDiv{
	background-image: url(../img/messaging/buzzbox_box_without_mailIcon.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 214px;
	height: 310px;
	-padding: 10px;
	float: right;
	z-index: 100;
}
#buzzBoxTabDiv{
	position: absolute;
	top: 10px;
	left: 19px;
	background-repeat: no-repeat;
}
.transparentMenuBarDiv{
	width: 37px;
	height: 37px;
	background: black;
	border-radius: 18px;
	opacity:0;
	filter:alpha(opacity=0); //For EI8
	float: left;
	position:absolute;
}
.menubarButtonIcon{
	position:absolute;
	float: left;
	z-index: 1;
}
.menubarButtonIconExtraDiv{
	width: 25px;
	height: 25px;
	border-radius: 12px;
	position: absolute;
}
.friendProfileImg{
	position: absolute;
	float: left;
	width: 35px;
	height: 41px;
}
.profileCompanyImg{
	position: absolute;
	width: 40px;
	height: 40px;
}
.boxCornerIcons{
	position: absolute;
	float: left;
	width: 37px;
	height: 37px;
}
.hiveOrangeText{
	color: orange;
	font-size: 13px;
}
.hiveListHeader{
	font-weight: bold;
	font-size: 18px;
}
.hiveList{
	margin-left: 0.5em;
  	list-style: none;
  	padding-top: 1em;
}
.hiveList li{
	padding-bottom: 1em;
}
.hiveBracketTextButton{
	font-weight: bold;
	font-size: 15px;
}
.buzzBoxButton{
	width: 22px;
	height: 21px;
	position: absolute;
	top: 15px;
	left: 15px;
	background-repeat: no-repeat;
}