
ul{
	list-style-position: outside;
	list-style-type: disc;
}
 li{
 	padding-left: 10px;
 }
 #inputDiv{
 	position: absolute;
 	display: none;
 }
 #saveChangesButton{
    float: right;
    bottom: 0px;
    margin-top: 40px;
 }