 #inputDiv{
 	position: absolute;
 	display: none;
 }
 #saveChangesButton{
    float: right;
    bottom: 0px;
    margin-top: 40px;
 }
#contentList{
	padding: 4px;
}
#profileImageSettings{
	position: absolute;
	float: left;
	width: 72px;
	height: 83px;
}
#profileSettingsText{
	position: absolute;
}
 .settingsListItem{
	height: 32px;
	margin: 10px 0px;
 }
 .settingsListItemImage{
 	background: url(../img/menu%20bar/menubar_blue_ball.png) no-repeat center center;
	background-size: 30px;
 	height: 30px;
 	width: 30px;
 	float: left;
 	padding-right: 10px;
 }
 .settingsListItem p{
	padding-top: 4px;
 }