 #inputDiv{
 	position: absolute;
 	display: none;
 }
 #saveChangesButton{
    float: right;
    bottom: 0px;
    margin-top: 40px;
 }
#contentList{
	padding: 4px;
}
#profileImageSettings{
	position: absolute;
	float: left;
	width: 72px;
	height: 83px;
}
#profileSettingsText{
	position: absolute;
	width: 224px;
}
#profileSettingsThemesBox{
	clear: both;
	position: absolute;
	top: 275px;
}
#profileSettingsThemesPredefined{
	clear: both;
	position: absolute;
}
#profileSettingsThemesUser{
	clear: both;
	position: absolute;
}
#hiveSearchResultBox{
	width: 237px;
	height: 65px;
	overflow: visible;
	position: absolute;
	background-color: transparent;
}
#hiveSearchResultBoxTop{
	background-image: url(../img/settings/hive_result_box_top.png);
	background-repeat: no-repeat;
	width: 237px;
	height: 26px;
	position: absolute;
	float: left;
}
#hiveSearchResultBoxBottom{
	background-image: url(../img/settings/hive_result_box_bottom.png);
	background-repeat: no-repeat;
	width: 237px;
	height: 26px;
	position: absolute;
	float: left;
}
#hiveSearchResultBoxMiddle{
	background-image: url(../img/settings/hive_result_box_middle.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 237px;
	height: 24px;
	position: absolute;
	float: left;
}
#inputSearchHive{
	background-image: url(../img/settings/search_field.png);
	border: none;
	width: 181px;
	height: 15px;
	padding-left: 2px;
	position: absolute;
	left: 40px;
	top: 20px;
	z-index: 1;
}
#hiveResultTable{
	position: absolute;
	left: 40px;
	top: 40px;
	z-index: 1;
}
.settingsListItem{
	height: 32px;
	margin: 10px 0px;
}
.settingsListItemImage{
 	background: url(../img/menu%20bar/menubar_blue_ball.png) no-repeat center center;
	background-size: 30px;
 	height: 30px;
 	width: 30px;
 	float: left;
 	padding-right: 10px;
}
.settingsListItem p{
	padding-top: 4px;
}
.profileSettingsThemesLeft{
	float: left;
	width: 255px;
}
.profileSettingsThemesRight{
	position: absolute;
	left: 265px;
	width: 214px;
}
.profileSettingsThemesClass{
	width: 255px;
	height: 30px;
	background: url(../img/settings/background_image_lineup.png) no-repeat center center;
	position: absolute;
}